/dts-v1/;
/plugin/;

/ {
    fragment@0 { /* first child node */
        target-path = "/"; /* target path to root */
        __overlay__ {
            simtemp: simtemp {
                compatible = "nxp,simtemp";
                sampling-ms = <100>;
                threshold-mC = <45000>;
                status = "okay";
            };
        };
    };
};